# Assume Data wherever needed/necessary

### Loop Statements

In [ ]:
# WAP stands for Write A Program

In [ ]:
#L1 E
WAP to print all elements of a list using a for loop. 
Take the elements of the list from the user.

For e.g. Input: l = [3,'Hi',67,0,12,0,8]
        Output: 3
                'Hi'
                67
                0
                12
                0
                8

In [ ]:
#L2 M
WAP to take inputs from user to make a list. Length of the list has to be taken from the user.
Again take one input from user and search it in the list and delete that element, if found.
If not found, print "Element not present".

For e.g. Input: len_list = 5
                list = ["a", "b", "y", "e", "p"]
                search_element = "g"
                    Output: "Element not found"
                search_element = "e"
                    Output: ["a", "b", "y", "p"]

In [ ]:
list = ["a", "b", "y", "e", "p"]
search_element = input("Enter element : ")

In [2]:
lst=[]
n=int(input("Enter lenght of list : "))
for i in range(n):
    ele=input(f'Enter element-{i+1} : ')
    lst.append(ele)
print(lst)
e=input("Enter element to search : ")
if e in lst:
    lst.remove(e)
    print(lst)
else:
    print('Element not found')

Enter lenght of list : 3
Enter element-1 : a
Enter element-2 : b
Enter element-3 : c
['a', 'b', 'c']
Enter element to search : b
['a', 'c']

In [ ]:
#L3 EM
Make a grading system for a school based on the marks of the students using the following criteria.
Marks 0 - 40 : Grade F
     41 - 50 : Grade E
     51 - 70 : Grade D
     71 - 80 : Grade C
     81 - 90 : Grade B
     91 - 100: Grade A
Continuously take marks as input from the user and print the grade. 
The user can enter "Stop" to stop the loop.

In [3]:
print('Enter "STOP" to stop the program : ')
while True:
    mark=input('Enter a mark : ')
    if mark.lower().strip()=='stop':
        break   
    else:
        mark = int(mark)
        if mark>0 and mark<=40:
            print("Grade F")
        elif mark>=41 and mark<=50:
            print("Grade E")
        elif mark>=51 and mark<=70:
            print('Grade D')
        elif mark>=71 and mark<=80:
            print("Grade C")
        elif mark>=81 and mark<=90:
            print("Grade B")
        elif mark>=91 and mark<=100:
            print("Grade A")
        else : 
            print("Invalid Marks")

Enter "STOP" to stop the program :
Enter a mark : 14
Grade F
Enter a mark : 25
Grade F
Enter a mark : 35
Grade F
Enter a mark : 45
Grade E
Enter a mark : 55
Grade D
Enter a mark : 65
Grade D
Enter a mark : 75
Grade C
Enter a mark : 85
Grade B
Enter a mark : 95
Grade A
Enter a mark : 100
Grade A
Enter a mark : 105
Enter a mark : -25
Enter a mark :   stop

In [ ]:
#L4 E
WAP to save the cube of all numbers from 1 to a number n in list, 
where n is taken as input from the user.

For e.g. Input: 5
        Output: [1, 8, 27, 64, 125]  #Cube of numbers from 1 to 5 where 5 is the input from the user

In [5]:
lst_l=[]
num=int(input("Enter a number : "))
for i in range(1,num+1):
    lst_l.append(i**3)
print(lst_l)

Enter a number : 10
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
#L5 E
WAP to print even numbers in a given range in reverse order. Take the range from the user.

For e.g. Input: start = 3
                End = 14
        Output: 14, 12, 10, 8, 6, 4

In [ ]:
#L6 E
WAP to print odd numbers in a given range in reverse order.
Take the range from the user.

For e.g. Input: start = 3
                End = 14
        Output: 13, 11, 9, 7, 5, 3

In [ ]:
#L7 E
WAP to print multiplication table of a number taken as input from the user.

For e.g. Input: 5
        Output: 5*1 = 5
                5*2 = 10
                .
                .
                .
                5*10 = 50

In [8]:
num = int(input("Enter Number : "))
for i in range(1, 11) : 
    print(  f"{num} * {i}  = {num * i} ")   # 5 * 1 =

Enter Number : 4
4 * 1  = 4
4 * 2  = 8
4 * 3  = 12
4 * 4  = 16
4 * 5  = 20
4 * 6  = 24
4 * 7  = 28
4 * 8  = 32
4 * 9  = 36
4 * 10  = 40

In [ ]:
#L8 E
WAP to print the following pattern.

1
1 2
1 2 3
1 2 3 4

In [19]:
for i in range(1, 5) : 
    print(str(i) * i)

1
22
333
4444

In [18]:
# for i in range(1, 5) : 
#     print(str(i) * i)
    
for i in range(1, 5) : 
#     print(f"i = {i}")
    for j in range(1, i + 1) : 
        print(j, end = "")
    print()

1
12
123
1234

In [ ]:
#L9 H
Write a program to calculate the sum of series up to n terms for a digit d. n & d are taken as input from the user.

For example:
    Input: n = 5, d = 2
    Logic: 2 + 22 + 222 + 2222 + 22222 
    Output: 24690

In [29]:
n = 5
d = 2

pattern = ""
totalSum = 0
for i in range(1, n + 1) : 
    pattern = ( str(d) * i )
    print(pattern)
    totalSum += int( pattern )
pattern
totalSum

2
22
222
2222
22222

24690

In [ ]:
#L10 M
WAP that keeps on accepting numbers from the user until the user enters Zero(0) as input.
Display the sum and average of all the numbers.

For example:
    Input: 3, 6, 8, 2, 5, Stop
    Output: Sum = 24
            Average = 4.8

In [38]:
totalSum = 0
Average = 0
Records = 0

print('STOP to close the program')
while True : 
    
    num = input("Enter Number : ")
    if num.lower().strip() == "stop" : 
        print(f"Total Sum = {totalSum}, \t Average = {Average}")
        break
     
    totalSum += float(num)  # update sum
    Records += 1    # update total records
    Average = totalSum / Records  # replacing every time

STOP to close the program
Enter Number : 10
Enter Number : 12.25
Enter Number : 3.555
Enter Number : stop
Total Sum = 25.805, 	 Average = 8.601666666666667

In [32]:
r = str(12.5)
r

'12.5'

In [33]:
r = int(12.5)
r

12

In [35]:
r = int( float( "12.5") )

r

12

In [36]:
r = float( "12")

r

12.0

In [ ]:
#L11 E
Accept n numbers from the user and display their average. n is input from the user.

For example:
    Input: n = 5
        Numbers = 3, 6, 2, 9, 0
    Output: Average = 4.0

### String Questions

In [ ]:
#S1 E
Write a Python program to count the number of each of the characters (character frequency) 
   in a string input by the user. Ignore the case.
   For example: Input: "Python is great"
		Output: P = 1, y = 1, t = 2, and so on...

In [43]:
Input =  "Python Python"

newList = []
for i in Input : 
    print( f"Char = {i}, Occurenece = {Input.count(i)}" )
    newList.append( (i, Input.count(i) ) )
print(set( newList) )

Char = P, Occurenece = 2
Char = y, Occurenece = 2
Char = t, Occurenece = 2
Char = h, Occurenece = 2
Char = o, Occurenece = 2
Char = n, Occurenece = 2
Char =  , Occurenece = 1
Char = P, Occurenece = 2
Char = y, Occurenece = 2
Char = t, Occurenece = 2
Char = h, Occurenece = 2
Char = o, Occurenece = 2
Char = n, Occurenece = 2
{('y', 2), ('h', 2), (' ', 1), ('o', 2), ('t', 2), ('P', 2), ('n', 2)}

In [45]:
Input =  "Python Python"

newDict = {}
for i in Input : 
    newDict.update( {i : Input.count(i)} )
    
newDict

{'P': 2, 'y': 2, 't': 2, 'h': 2, 'o': 2, 'n': 2, ' ': 1}

In [ ]:
#S2 M
Write a Python program to find the digits which are absent in a given mobile number.

   For example: Input : 9354328855
                Output: 0167

In [48]:
mob = input("Enter Mobile : ")

output = ""
for n in numbers : 
    if str(n) not in mob : 
        output += str(n)
output

Enter Mobile : 7503286013

'49'

In [46]:
numbers = list( range(0, 10) )
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#S3 M
WAP in python to find average of n numbers taken as input from the user dynamically.

In [ ]:
#S4 E
WAP in python that accepts a hyphen-separated sequence of 
words as input and prints the words in a hyphen-separated 
sequence after sorting them alphabetically.

For e.g. Input: "p-y-t-h-o-n"
        Output: ['h', 'n','o', 'p', 't', 'y']

In [49]:
items=[n for n in input('Enter string(hypen seperated ) : ').split('-')]
items.sort()  # Sorting on the list
print(items)

Enter string(hypen seperated ) : p-y-t-h-o-n
['h', 'n', 'o', 'p', 't', 'y']

In [ ]:
#S5 MH
WAP in python to find the number of vowels, consonants, digits, special 
characters and white space characters in a string input by the user.

Example: Input: "Qwerty@123"
	output: v = 1, c = 5, d = 3, w = 0, s = 1

In [ ]:
#S6 MH
WAP in python to check the strength of the password input by the user based on the following features.
    Length minimum of 8 characters  (+1 Strength)
    Combination of upper case & lower case characters (+1 Strength)
    Combination of alphabets & digits (+1 Strength)
    Use of Special Characters (+1 Strength)
    
Example: Input: "Qwerty@123"
       Output: Strength = 4

In [81]:
Input = "97864"

st1, st2, st3, st4 = 0,0,0,0

if len(Input) > 8 : 
    st1 += 1
if ( any([i.isupper() for i in Input]) and ( any([i.islower() for i in Input] ) )) : 
    st2 += 1
if ( any([i.isalpha() for i in Input]) or ( any([i.isdigit() for i in Input] ) )) : 
    st3 += 1
if not( all( [ i.isalnum() for i in Input ] ) ) : 
    st4 += 1
    
final = st1 + st2 +st3 + st4
# print(st1)
# print(st2)
# print(st3)
# print(st4)

print( f"Strength = {final}" )

Strength = 1

In [71]:
Input = "sfdxvbwqhdgwvdyuiw562132133"

not( all( [ i.isalnum() for i in Input ] ) )

False

In [ ]:
# !@#$%^&*(){}:>/*-+

In [59]:
Input = "Qwerty@123"

# Way1
for i in Input : 
    if i.isupper() : 
        print(True)
    else : print(False)

# Way2
res = [i.isupper() for i in Input]
print(res)

print( any(res) )
print( all(res) )

True
False
False
False
False
False
False
False
False
False
[True, False, False, False, False, False, False, False, False, False]
True
False

In [ ]:
#S7 E
WAP in python to compare two strings and tell the user if both of those strings are same or not. 
Ignore their case.

Example: Input String1: "Hello"
	Input String2: "hello"
	Output: Strings are same

In [ ]:
#S8 E
WAP in python to calculate the number of times a character is repeated in a given string.
Take the string and character from the user.

Example: Input String: "Neil Nitin Mukesh"
        Input Character: "e"
        Output: 2

In [ ]:
#S9 E
WAP in python which accepts string from the user and displays only those characters/elements which are present at an even index.

Example: 
    Input: "Python"
    Output: Pto

In [ ]:
#S10 E
WAP in python to capitalize the first letter of the First Name and Surname where whole name is taken as input from the user.

Example: Input: "first last" or "FIRST LAST" or "first lAst" i.e. Input can be in any case.
        Output: "First Last"

In [ ]:
#S11 EM
Write a Python program that accepts a comma separated sequence of words as input and 
prints the unique words in sorted form (alphanumerically).

	Sample Words : red, white, black, red, green    
	Expected Result : black, green, red, red, white

In [85]:
seq = 'red, white, black, red, green'
output = seq.split(",")
print(output)
sorted( [i.strip() for i in output] )

['red', ' white', ' black', ' red', ' green']

['black', 'green', 'red', 'red', 'white']

In [ ]:
#S12 MH
Write a Python program to count repeated characters in a string.

	Sample string: 'thequickbrownfoxjumpsoverthelazydog'
	Expected output :
			o 4
			e 3
			u 2
			h 2
			r 2
			t 2

In [88]:
Input =  "thequickbrownfoxjumpsoverthelazydog"

newList = []
for i in Input : 
#     print( f"Char = {i}, Occurenece = {Input.count(i)}" )
    newList.append( (i, Input.count(i) ) )
newList = list( set( newList) )
print(newList )

[('c', 1), ('e', 3), ('m', 1), ('a', 1), ('t', 2), ('s', 1), ('l', 1), ('w', 1), ('h', 2), ('j', 1), ('b', 1), ('x', 1), ('z', 1), ('i', 1), ('k', 1), ('f', 1), ('r', 2), ('o', 4), ('q', 1), ('v', 1), ('n', 1), ('p', 1), ('y', 1), ('d', 1), ('g', 1), ('u', 2)]

### List Questions

In [ ]:
#Li1 M
WAP to remove empty strings from the list of strings. Take list as input from the user.

For example: Input: ["My", "name", "", "is", "", "Alankrita", "", "."]
            Output: ["My", "name", "is", "Alankrita", "."]

In [ ]:
check with len() ???

In [ ]:
#Li2 H
WAP to make a list of all the characters starting from character 'A' to input charaacter from the user.

For e.g. Input: 'H'
        Output: ["A", "B", "C", "D", "E", "F", "G", "H"]

In [91]:
import string
string.ascii_uppercase

output = []
char = input("Enter Char : ")  # "   j  "
for i in string.ascii_uppercase : 
    if i == char.strip().upper() : 
        break
    else : 
        output.append(i)


output

Enter Char :    j

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I']

In [ ]:
#Li3 H
WAP to check if a specific employee e is present in a company or not. Employee names are saved in a list.
e is taken as input from the user.

For example: empList = ["Ashwin", "Rachit", "Sanjana", "David", "Komal"]
            Input1: "Komal"
            Output1: "Employee is present"
            
            Input2: "Nitish"
            Output2: "Employee is not present"

In [ ]:
#Li4 M
Write a python program to find the maximum and minimum number in a list of 10 elements 
   (taken as input from the user) and also find the index position of the these numbers.
    
   For example: Input : [25, 2, 1, 86, 42, 32, 27, 12, 31, 10]
		Output: Max Number: 86, Index of Max Number: 3
			Min Number: 1, Index of Min Number: 2

In [ ]:
max()
min()

In [ ]:
#Li5 M
Given two Python lists of same length. Iterate both lists simultaneously such that list1 
   should display item in original order and list2 in reverse order.
    
   For example: Input = list1 = [10, 20, 30, 40]
			list2 = [100, 200, 300, 400]
            Output: 10 400
                    20 300
                    30 200
                    40 100

In [94]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

for i in range(len( list1)  ) : 
    print( list1[i], list2[ -i-1 ] )

10 400
20 300
30 200
40 100

In [ ]:
#Li6 M
WAP to concatenate two lists index-wise.
    list1 = ["M", "na", "i", "Ashu"]
    list2 = ["y", "me", "s", "tosh"]
    Output: ['My', 'name', 'is', 'Ashutosh']

In [ ]:
#Li7 M
WAP to remove/delete items from a list while iterating without creating a duplicate list.
Take the elements to be deleted from the user in real-time.

In [ ]:
myList = ["M", "na", "i", "Ashu"]

userValue = "na"

In [ ]:
#Li8 E
WAP to generate a Python list of all the prime numbers between n to m where n & m are taken as input from the user.

In [100]:
# list( range(n, m) )

# list( range(11, 51) )


def findPrime(number) : 
    flag = True
    for each in range(2, number) : 
        if number % each == 0:
            flag = False
            break
        else : 
            flag = True
  
    return flag

myList = [8, 11, 13, 14, 5, 50]
for i in myList : 
    print( findPrime(i) )

False
True
True
False
True
False

In [ ]:
#Li9 M
WAP to concatenate two lists in the following order:
    list1 = ["Hello ", "World"]
    list2 = ["Hi", "There"]
    Output: ['Hello Hi', 'Hello There', 'World Hi', 'World There']

In [6]:
# Li10 M
Given two lists having names of students and their corresponding marks.
names = ["Ashutosh", "Ajay", "Alankrita", "Rachit", "Komal", "Anil"]
marks = [23, 21, 26, 23, 27, 24]
Take name of a student as input from the user and output his/her marks.

For e.g.:
    Input1: "Alankrita"
    Output1: 26
        
    Input2: "Someone"
    Output2: "Student not found"

Enter the name: Komal
27

In [110]:
names = ["Ashutosh", "Ajay", "Alankrita", "Rachit", "Komal", "Anil"]
marks = [23, 21, 26, 23, 27, 24]

name=input("enter the name")
for i in range(len(names)):
    if names[i]==name:
        print(marks[i])

enter the nameNit
Student Not Found
Student Not Found
Student Not Found
Student Not Found
Student Not Found
Student Not Found

In [104]:
dict( zip( names, marks ) )

{'Ashutosh': 23,
 'Ajay': 21,
 'Alankrita': 26,
 'Rachit': 23,
 'Komal': 27,
 'Anil': 24}

In [106]:
d=dict(zip(names,marks))
name=input('Enter a name : ')
name=name.strip().title()
if name in names:
    mark=d.get(name)
    print(mark)
else:
    print('Student not found')

Enter a name : Komal
27

In [ ]:
#Li11 H
Extended question of #Li10
Add an option to change marks of any students in the same code of #Li10. Take student name and new marks from the user. 
Print the modified list as output.

For e.g.: Input: "Ajay"
        new_mark: 25
        Output: marks = [23, 25, 26, 23, 27, 24]

In [111]:
names = ["Ashutosh", "Ajay", "Alankrita", "Rachit", "Komal", "Anil"]
marks = [23, 21, 26, 23, 27, 24]
name=input("enter the name")
newmarks=int(input("enter the marks"))
for i in range(len(names)):
    if names[i]==name:
        marks[i]=newmarks
print(marks)

enter the nameKomal
enter the marks30
[23, 21, 26, 23, 30, 24]

In [ ]:
#Li12 H
Extended question of #Li10
Give an option to enter the marks of a new student into the existing lists names and marks. Take new data as input from user.
Print the new names and marks list as output.

For e.g.: Input: New_name = "Nitish"
                new_Marks = 20
        Output: names = ["Ashutosh", "Ajay", "Alankrita", "Rachit", "Komal", "Anil", "Nitish"]
                marks = [23, 21, 26, 23, 27, 24, 20]

In [114]:
names = ["Ashutosh", "Ajay", "Alankrita", "Rachit", "Komal", "Anil", "Nitish"]
marks = [23, 21, 26, 23, 27, 24, 20]

d=dict(zip(names,marks))

name=input('Enter a name : ')
name=name.strip().title()
mark = int(input("Enter Marks : "))

d.update({name : mark})
d

Enter a name : Shweta
Enter Marks : 40

{'Ashutosh': 23,
 'Ajay': 21,
 'Alankrita': 26,
 'Rachit': 23,
 'Komal': 27,
 'Anil': 24,
 'Nitish': 20,
 'Shweta': 40}

### Dictionary Questions

In [ ]:
#D1
WAP in Python to merge following dictionaries to create a new one:
	dic1={1:10, 2:20}
	dic2={3:30, 4:40}
	dic3={5:50, 6:60}

In [ ]:
#D2
WAP in python to generate and print a dictionary that contains a number (between 1 and n) 
in the form {x : x*x} where n is the input from the user.

For e.g. Input: 4
        Output: {1:1, 2:4, 3:9, 4:16}

In [ ]:
#D3
WAP in python to find the number of vowels, consonants, digits, white space characters & 
special characters in a string and save the result in the form of a dictionary.

In [ ]:
#D4
WAP to reverse map the dictionary items. Take dictionary as input from the user.

	For eg., Input: d = {'A': 65, 'B': 66, 'C': 67, 'D': 68}
            Output: d = {65: 'A', 66: 'B', 67: 'C', 68: 'D'}

In [ ]:
#D5
WAP to save Username and Password of 10 employees in an organisation. 
Take the Username and Password as input from the user one by one and save in the Dictionary.

In [ ]:
#D6
Extended Question from #D5
Write an additional functionality to check if an employee is present in the organisation or not.
Basically "Search" Functionality based on their username
Take employee name as input from the user.
If the employee is present, print "Present" else print "Not Present"

### Misc. Questions - i.e. you can use any data type which seems feasible for question

In [ ]:
#M1
WAP in python that accepts two integers (n) & (m) from user and 
computes the value of 2n3 + 5m2 - 7n + 10

In [ ]:
#M2
Write a python program to find the intersection of elements from two list 
(find the common elements in two lists).

In [ ]:
#M3
WAP in Python to find the Max of n numbers all taken as input from the user.

In [ ]:
#M4
WAP which takes a sequence of numbers from the user and check if all input numbers are unique.

In [ ]:
#M5
WAP to reverse a given integer number.
Example: Input: 105320
        Output: 023501

In [ ]:
#M6
WAP to take 10 integer inputs from the user and save them in a list. 
The inputs have to be mix of even and odd numbers. 
Now make one list to save all the even numbers from the input list. 
Make another list for odd numbers too.

In [ ]:
#M7
WAP to convert temperature in Fahrenheit to Celsius. Take the temperature from the user in float type.

In [ ]:
#M8
WAP to continuously take Names as input from the user. 
Save the incoming names into a list as Full Name and save {First Name:Second Name} in a dictionary.
Take inputs till the user enters "Stop"

For e.g.: Input: "Shahrukh Khan", "Gauri Khan",..................."Stop"
         Output: list1 = ["Shahrukh Khan", "Gauri Khan",....................]
                dict1 = {"Shahrukh":"Khan", "Gauri":"Khan", .....................}

In [ ]:
#M9
WAP to make a simple and compound interest calculator. Take all the necessary data as input from the user.

In [ ]:
#M10